<template>
    <div>
        <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
            <div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto m-0">
                <div><div class="product_number">{{index + 1}}</div></div>
                <div><div class="product_image"><img :src="'http://corona.test/images/'+ cart_item_data.image" alt=""></div></div>
                <div class="product_name_container">
                    <div class="product_name"><a href="product.html">{{ cart_item_data.name}}</a></div>
                    <div class="product_text">Second line for additional info</div>
                </div>
            </div>
            <div class="product_color product_text"><span>Color: </span>beige</div>
            <div class="product_size product_text"><span>Size: </span>L</div>
            <div class="product_price product_text"><span>Price: </span>$ {{ cart_item_data.price }}</div>
            <div class="product_quantity_container">
                <div class="product_quantity ml-lg-auto mr-lg-auto text-center">
                    <span class="product_text product_num">{{cart_item_data.quantity}}</span>
                    <div class="qty_sub qty_button trans_200 text-center" @click="decrementItem"><span>-</span></div>
                    <div class="qty_add qty_button trans_200 text-center" @click="incrementItem"><span>+</span></div>
                </div>
            </div>
            <div class="product_total product_text"><span>Total: </span>${{cart_item_data.quantity * cart_item_data.price}}</div>
            <div class="product_total product_text" @click="deleteFromCart">Delete</div>
        </li>

    </div>
</template>

<script>
   export default {
    name: "v-cart-item",
    methods: {
      deleteFromCart() {
        this.$emit('deleteFromCart');
      },
      decrementItem() {
        this.$emit('decrement');
        },
      incrementItem() {
        this.$emit('increment');
       },
    },
    props: {
      index: {
        type:Number,
      },
      cart_item_data: {
        type: Object,
         default() {
          return {}
        }
      }
    },
     mounted() {
       console.log(this.cart_item_data)
     },
   }
</script>

<style scoped>
img {
    width:100px;
}
</style>
