<template>
    <div>
        <div class="super_container">
            <div class="super_container_inner">
                <div class="super_overlay"></div>
            
                <!-- Home -->
            
                <div class="home">
                    <div class="home_container d-flex flex-column align-items-center justify-content-end">
                        <div class="home_content text-center">
                            <div class="home_title">Shopping Cart</div>
                            <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                                <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                                    <li>Your Cart</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Cart -->
            
                <div class="cart_section">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="cart_container">
                                
                                    <!-- Cart Bar -->
                                    <div class="cart_bar">
                                        <ul class="cart_bar_list item_list d-flex flex-row align-items-center justify-content-end">
                                            <li class="mr-auto">Product</li>
                                            <li>Color</li>
                                            <li>Size</li>
                                            <li>Price</li>
                                            <li>Quantity</li>
                                            <li>Total</li>
                                        </ul>
                                    </div>
                                    <div class="cart_items">
                                        <ul class="cart_items_list">
                                            <li v-if="!cart_data.length" class="cart_item item_list"><h4>There are no products in cart...</h4></li>
                                            <v-cart-item
                                                v-for="(item, index) in cart_data"
                                                :index="index"
                                                :key="item.id"
                                                :cart_item_data="item"
                                                 @deleteFromCart="deleteFromCart(index)"
                                                @increment="increment(index)"
                                                @decrement="decrement(index)"
                                                />
                                        </ul>
                                    </div>
                                
                                    <div class="cart_buttons d-flex flex-row align-items-start justify-content-start">
                                        <div class="cart_buttons_inner ml-sm-auto d-flex flex-row align-items-start justify-content-start flex-wrap">
                                            <div class="button button_clear trans_200" @click="deleteAllCart">
                                                <a class="text-white">clear cart</a>
                                            </div>
                                            <div class="button button_continue trans_200">
                                                <router-link
                                                    :to="{name: 'catalog'}">
                                                    <a >continue shopping</a>
                                                </router-link>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row cart_extra_row">
                            <div class="col-lg-6">
                                <div class="cart_extra cart_extra_1">
                                    <div class="cart_extra_content cart_extra_coupon">
                                        <div class="cart_extra_title">Coupon code</div>
                                        <div class="coupon_form_container">
                                            <form action="#" id="coupon_form" class="coupon_form">
                                                <input type="text" class="coupon_input" required="required">
                                                <button class="coupon_button">apply</button>
                                            </form>
                                        </div>
                                        <div class="coupon_text">Phasellus sit amet nunc eros. Sed nec congue tellus. Aenean nulla nisl, volutpat blandit lorem ut.</div>
                                        <div class="shipping">
                                            <div class="cart_extra_title">Shipping Method</div>
                                            <ul>
                                                <li class="shipping_option d-flex flex-row align-items-center justify-content-start">
                                                    <label class="radio_container">
                                                        <input type="radio" id="radio_1" name="shipping_radio" class="shipping_radio">
                                                        <span class="radio_mark"></span>
                                                        <span class="radio_text">Next day delivery</span>
                                                    </label>
                                                    <div class="shipping_price ml-auto">$4.99</div>
                                                </li>
                                                <li class="shipping_option d-flex flex-row align-items-center justify-content-start">
                                                    <label class="radio_container">
                                                        <input type="radio" id="radio_2" name="shipping_radio" class="shipping_radio">
                                                        <span class="radio_mark"></span>
                                                        <span class="radio_text">Standard delivery</span>
                                                    </label>
                                                    <div class="shipping_price ml-auto">$1.99</div>
                                                </li>
                                                <li class="shipping_option d-flex flex-row align-items-center justify-content-start">
                                                    <label class="radio_container">
                                                        <input type="radio" id="radio_3" name="shipping_radio" class="shipping_radio" checked>
                                                        <span class="radio_mark"></span>
                                                        <span class="radio_text">Personal Pickup</span>
                                                    </label>
                                                    <div class="shipping_price ml-auto">Free</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 cart_extra_col">
                                <div class="cart_extra cart_extra_2">
                                    <div class="cart_extra_content cart_extra_total">
                                        <div class="cart_extra_title">Cart Total</div>
                                        <ul class="cart_extra_total_list">
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="cart_extra_total_title">Subtotal</div>
                                                <div class="cart_extra_total_value ml-auto">${{cartTotalCost}}</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="cart_extra_total_title">Shipping</div>
                                                <div class="cart_extra_total_value ml-auto">Free</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="cart_extra_total_title">Total</div>
                                                <div class="cart_extra_total_value ml-auto">${{cartTotalCost}}</div>
                                            </li>
                                        </ul>
                                        <div class="checkout_button trans_200"><a href="checkout.html">proceed to checkout</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </template>
<script>
 
  import vCartItem from './v-cart-item'
  import {mapActions} from 'vuex'
  export default {
    name: "v-cart",
    components: {
      vCartItem
    },
    computed: {
      cartTotalCost() {
        if(this.cart_data.length) {
          let result = [];
          for(let item of this.cart_data) {
            result.push(item.price * item.quantity)
          }
          result = result.reduce((sum, el) => {
            return sum + el
          });
          return result;
        } else {
          return 0
        }
        }
    },
    methods: {
      ...mapActions([
        'DELETE_FROM_CART',
        'INCREMENT_CART_ITEM',
        'DELETE_CART_All',
        'DECREMENT_CART_ITEM'
      ]),
       increment(index) {
         this.INCREMENT_CART_ITEM(index)
       },
       decrement(index) {
         this.DECREMENT_CART_ITEM(index)
       },
      deleteFromCart(index) {
        this.DELETE_FROM_CART(index);
      },
      deleteAllCart() {
        this.DELETE_CART_All()
      },
    },
    props: {
      cart_data: {
        type: Array,
         default() {
          return [];
        }
      },
    },

  }
</script>
<style scoped>
</style>
