<template>
    <div>
        <div class="menu">
            <div class="menu_search">
                <form action="#" id="menu_search_form" class="menu_search_form">
                    <input type="text" class="search_input" placeholder="Search Item" required="required">
                 </form>
            </div>
        </div>
    
        <div class="super_container">
            <div class="super_container_inner">
                <div class="super_overlay"></div>
                <!-- Home -->
                <div class="home">
                    <div class="home_container d-flex flex-column align-items-center justify-content-end">
                        <div class="home_content text-center">
                            <div class="home_title">Category Page</div>
                            <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                                <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                                    <li>New Products</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
                <!-- Products -->
            
                <div class="products">
                    <div class="container">
                        <div class="row products_bar_row">
                            <div class="col">
                                <div class="products_bar d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-start justify-content-center">
                                    <div class="products_bar_links">
                                        <ul class="d-flex flex-row align-items-start justify-content-start">
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">Hot Products</a></li>
                                            <li class="active"><a href="#">New Products</a></li>
                                            <li><a href="#">Sale Products</a></li>
                                        </ul>
                                    </div>
                                    <div class="products_bar_side d-flex flex-row align-items-center justify-content-start ml-lg-auto">
                                        <div class="products_dropdown product_dropdown_sorting">
                                            <div>
                                                   <input
                                                           type="range"
                                                           min="0"
                                                           max="1000"
                                                           step="10"
                                                           v-model.number="minPrice"
                                                           @change="setRangeSlider"
                                                   >
                                                   <input
                                                           type="range"
                                                           min="0"
                                                           max="1000"
                                                           step="10"
                                                           v-model.number="maxPrice"
                                                           @chang="setRangeSlider"
                                                   >
                                            </div>
                                            <ul>
                                                <li class="item_sorting_btn">Min: {{minPrice}}</li>
                                                <li class="item_sorting_btn">Max: {{maxPrice}}</li>
                                            </ul>
                                        </div>
                                        <div class="product_view d-flex flex-row align-items-center justify-content-start">
                                            <div class="view_item active"><img :src="('require(../../assets/images/view_1.png')" alt=""></div>
                                            <div class="view_item"><img :src="('require(../../assets/images/view_2.png')" alt=""></div>
                                            <div class="view_item"><img :src="('require(../../assets/images/view_3.png')" alt=""></div>
                                        </div>
                                        <div class="products_dropdown text-right product_dropdown_filter">
                                            <div class="isotope_filter_text"><span>Filter</span><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                                            <v-select
                                                    :selected="selected"
                                                    :options="categories"
                                                    @selectOption="sortByCategories"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row products_row products_container grid">
                        </div>
                    </div>
                </div>
            <div class="container">
                <div class="row products_row products_container grid">
                                <v-catalog-item
                                class="col-md-4 p-4"
                                v-for="item in filteredProducts"
                                :key="item.id"
                                :product_data="item"
                                @addToCart="addToCart"
                                @addToHeart="addToHeart"/>
                            </div>
                </div>
        </div>
    </div>
</template>
<script>
    import vCatalogItem from './v-catalog-item'
    import vSelect from './v-select'
    import {mapActions, mapGetters} from 'vuex'
    export default {
    name: "v-catalog",
      data() {
      return {
        categories: [
          {name: 'all', value: 'all'},
          {name: 'men', value: 'm'},
          {name: 'kids', value: 'k'},
          { name: 'women', value: 'w'},

        ],
        selected: 'all',
        sortedProducts: [],
        minPrice: 0,
        maxPrice: 1000,
      }
      },
    computed: {
      ...mapGetters([
        'PRODUCTS',
        'CART',
        "SEARCH_VALUE"
      ]),
      filteredProducts() {
        if (this.sortedProducts.length) {
          return this.sortedProducts
        } else {
          return this.PRODUCTS;
        }
      }
     },
      watch:{
        SEARCH_VALUE() {
          this.sortProductsBySearchValue(this.SEARCH_VALUE);
        }
      },
      methods: {
        ...mapActions([
          'GET_PRODUCTS_FROM_API',
          'ADD_TO_CART',
          'ADD_TO_HEART',
        ]),
        addToCart(data) {
          this.ADD_TO_CART(data);
        },
        addToHeart(data) {
          this.ADD_TO_HEART(data);
        },
        sortProductsBySearchValue(value){
          this.sortedProducts = [...this.PRODUCTS];
          if(value) {
            this.sortedProducts = this.sortedProducts.filter((item) => {
              return item.name.toLowerCase().includes(value.toLowerCase())
            })
          } else {
                  this.sortedProducts = this.PRODUCTS
          }
        },
        setRangeSlider() {
            if(this.minPrice > this.maxPrice) {
              let tmp = this.maxPrice;
              this.maxPrice = this.minPrice;
              this.minPrice = tmp;
            }
            this.sortByCategories()
        },

        sortByCategories( category ) {
           this.sortedProducts = [...this.PRODUCTS];
           this.sortedProducts = this.sortedProducts.filter((item) => {
             return item.price >= this.minPrice && item.price <= this.maxPrice
           });
          if( category ) {
            this.sortedProducts = this.sortedProducts.filter((item) => {
              this.selected = category.name;
              return item.category === category.name
            })
          }
        }
      },
      components: {
        vCatalogItem,
        vSelect,
    
    },
    mounted() {
      this.sortByCategories();
      this.GET_PRODUCTS_FROM_API();
      this.sortProductsBySearchValue(this.SEARCH_VALUE);
    },
  }
</script>
<style>
</style>
