<template>
        <div class="col-xl-4 col-md-6 grid-item sale">
            <div class="product">
            <div class="product_image product_image_item"><img :src="'http://corona.test/images/'+ product_data.image" alt=""></div>
                <div class="product_content">
                    <div class="product_info d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div>
                                <div class="product_name"><a>
                                    <router-link
                                        :to="{name:'details',
                                        params:{product_data:product_data}
                                        }"
                                     >
                                        {{product_data.name}}
                                    </router-link>
                                </a></div>
                                <div class="product_category">In
                                    <a>
                                        <router-link
                                                :to="{name:'details',
                                        params:{product_data:product_data}
                                        }"
                                        >
                                            Category: {{product_data.category}}
                                        </router-link>
                                    </a></div>
                            </div>
                        </div>
                        <div class="ml-auto text-right">
                            <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i></div>
                            <div class="product_price text-right">{{product_data.price}}<span>$</span></div>
                        </div>
                    </div>
                    <div class="product_buttons">
                        <div class="text-right d-flex flex-row align-items-start justify-content-start">
                            <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                <div @click="addToHeart"
                                     v-if="!product_data.IsHeartExists"
                                 >
                                    <div><img :src="require('@/assets/images/heart_2.svg')" class="svg" alt=""></div></div>
                                <div @click="addToHeart"
                                     v-if="product_data.IsHeartExists"
                                      v-b-popover.hover.top="'This product exists in the liked products section!'"
                                 >
                                    <div><img :src="require('@/assets/images/heart_2.svg')" class="svg" alt=""></div></div>
                            </div>
                            <div @click="addToCart" class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                <div><div><img :src="require('@/assets/images/cart.svg')" class="svg" alt=""></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
  
   export default {
    name: "v-catalog-item",
    props: {
      product_data: {
        type: Object,
        default() {
          return {}
        },
      }
    },
    methods: {
      addToCart() {
         this.$set(this.product_data, 'quantity', 1);
         this.$emit('addToCart', this.product_data);
       },
      addToHeart() {
        this.$set(this.product_data, 'IsHeartExists', true);
        this.$emit('addToHeart',this.product_data);
       },
    }
  }
</script>
<style scoped>
    .product_image_item img{
        height: 420px;
        width: 100%;
    }
</style>


