<template>
<div>
            <div class="home">
                <div class="home_container d-flex flex-column align-items-center justify-content-end">
                    <div class="home_content text-center">
                        <div class="home_title">Add Product</div>
                        <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                            <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                                 <li>Add Product</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout">
                <div class="container">
                         <form @submit.prevent="createItem">
                                 <div class="billing">
                                    <div class="checkout_title">Add Product</div>
                                    <div class="checkout_form_container">
                                        <form action="#" id="checkout_form" class="checkout_form">
                                             <!-- Name -->
                                            <div class="wrap-input100 validate-input m-b-10">
                                                <input class="input100"
                                                       type="text"
                                                       :class="{'is-invalid' : $v.name.$error}"
                                                       @input="$v.name.$touch()"
                                                       v-model.trim="name"
                                                       placeholder="Name"
                                                >
                                                <div class="invalid-feedback" v-if="!$v.name.required">Email field is required</div>
                                                 <span class="focus-input100"></span>
                                            </div>
                                             <!-- Price -->
                                                  <div class="wrap-input100 validate-input m-b-10">
                                                      <input class="input100"
                                                             type="number"
                                                             :class="{'is-invalid' : $v.price.$error}"
                                                             @input="$v.price.$touch()"
                                                             v-model.trim="price"
                                                             placeholder="Price"
                                                      >
                                                      <div class="invalid-feedback" v-if="!$v.price.required">Price field is required</div>
                                                      <span class="focus-input100"></span>
                                                  </div>
                                                <!-- Category-->
                                        <div>
                                            <select
                                             name="checkout_province"
                                            id="checkout_province"
                                            class="dropdown_item_select checkout_input wrap-input100 validate-input m-b-10"
                                            :class="{'is-invalid' : $v.selected.$error}"
                                            @input="$v.selected.$touch()"
                                            v-model="selected"
                                            >
                                            <option v-for="(option,index) in options"
                                            :key="index">{{option.value}}
                                            </option>
                                            </select>
                                             <div class="mt-3">Selected: <strong>{{ selected }}</strong></div>
                                        </div>
                                        <div>
                                            <!-- Name -->
                                            <div class="form-group">
                                                <input type="file"
                                                       class="form-control"
                                                       id="exampleInputPassword3"
                                                       @change="onImageChange"
                                                >
                                            </div>
                                            <div v-if="avatar!==null">
                                                <img :src="avatar">
                                            </div>
                                        </div>
                                         </form>
                                    </div>
                                 </div>
                             <div class="checkout_button trans_200"><a><button class="text-white" :disabled="$v.$invalid">Add</button></a></div>
                         </form>
                 </div>
            </div>
        </div>
</template>

<script>
    import {mapActions} from'vuex'
    import {required} from 'vuelidate/lib/validators'
    export default {
    name: "v-create-item",
    data() {
      return {
        name: "",
        price: "",
        image: "",
        selectedFile: null,
        avatar: null,
        selected: null,
        options: [
          { value: null, text: 'Please select an option' },
          { value: 'men', text: 'For Men' },
          { value: 'kids', text: 'For Kids'},
          { value: 'women', text: 'For Women'},
        ]
      }
    },
      validations: {
        name: {
          required,
        },
        price: {
          required
        },
        selected: {
          required
        },
        image: {
          required
        }
      },
    methods: {
      ...mapActions([
       "CREATE",
      ]),
      onImageChange(e) {
        console.log(e.target.files[0]);
        this.image = e.target.files[0];

        let reader = new FileReader();
        reader.readAsDataURL(this.image);
        reader.onload = e => {
          this.avatar = e.target.result;
         }
      },
      createItem() {
         let formData = new FormData();
        formData.append('image', this.image);
        formData.append('name', this.name);
        formData.append('price', this.price);
        formData.append('category', this.selected);

         this.CREATE(formData)
      }
    },
    }
</script>

<style scoped>
    img {
        width: 150px;
        height: 150px;
    }
</style>
