<template>
    <div>
        <div>
            <div class="menu">
                <div class="menu_search">
                    <form action="#" id="menu_search_form" class="menu_search_form">
                        <input type="text" class="search_input" placeholder="Search Item" required="required">
                    </form>
                </div>
            </div>
        
            <div class="super_container">
                <div class="super_container_inner">
                    <div class="super_overlay"></div>
                    <!-- Home -->
                    <div class="home">
                        <div class="home_container d-flex flex-column align-items-center justify-content-end">
                            <div class="home_content text-center">
                                <div class="home_title">Details</div>
                                <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                                    <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                                        <li>Details</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
<!--        Product-->
        <!-- Product -->
    
        <div class="product">
            <div class="container">
                <div class="row">
                    <!-- Product Image -->
                    <div class="col-lg-6">
                        <img :src="'http://corona.test/images/'+ product_data.image" />
                    </div>
                    <!-- Product Info -->
                    <div class="col-lg-6 product_col">
                        <div class="product_info">
                            <div class="product_name">{{product_data.name}}</div>
                            <div class="product_category">In <a href="#">Category {{product_data.category}}</a></div>
                            <div class="product_rating_container d-flex flex-row align-items-center justify-content-start">
                                <div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                <div class="product_reviews">4.7 out of (3514)</div>
                                <div class="product_reviews_link"><a href="#">Reviews</a></div>
                            </div>
                            <div class="product_price">$<span>{{product_data.price}}</span></div>
                            <div class="product_size">
                                <div class="product_size_title">Select Size</div>
                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                    <li>
                                        <input type="radio" id="radio_1" disabled name="product_radio" class="regular_radio radio_1">
                                        <label for="radio_1">XS</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="radio_2" name="product_radio" class="regular_radio radio_2" checked>
                                        <label for="radio_2">S</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="radio_3" name="product_radio" class="regular_radio radio_3">
                                        <label for="radio_3">M</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="radio_4" name="product_radio" class="regular_radio radio_4">
                                        <label for="radio_4">L</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="radio_5" name="product_radio" class="regular_radio radio_5">
                                        <label for="radio_5">XL</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="radio_6" disabled name="product_radio" class="regular_radio radio_6">
                                        <label for="radio_6">XXL</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="product_text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec consequat lorem. Maecenas elementum at diam consequat bibendum. Mauris iaculis fringilla ex, sit amet semper libero facilisis sit amet. Nunc ut aliquet metus. Praesent pulvinar justo sed velit tempus bibendum. Quisque dictum lorem id mi viverra, in auctor justo laoreet. Nam at massa malesuada, ullamcorper metus vel, consequat risus. Phasellus ultricies velit vel accumsan porta.</p>
                                <div class="product_buttons">
                                    <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                        <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                            <div><div @click="addToHeart"><img :src="require('@/assets/images/heart_2.svg')" class="svg" alt=""></div></div>
                                        </div>
                                        <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                            <div><div @click="addToCart"><img :src="require('@/assets/images/cart.svg')" class="svg" alt=""></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Boxes -->
    
        <div class="boxes">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box d-flex flex-row align-items-center justify-content-start">
                            <div class="mt-auto"><div class="box_image"><img :src="require('@/assets/images/boxes_1.png')" alt=""></div></div>
                            <div class="box_content">
                                <div class="box_title">Size Guide</div>
                                <div class="box_text">Phasellus sit amet nunc eros sed nec tellus.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 box_col">
                        <div class="box d-flex flex-row align-items-center justify-content-start">
                            <div class="mt-auto"><div class="box_image"><img :src="require('@/assets/images/boxes_2.png')" alt=""></div></div>
                            <div class="box_content">
                                <div class="box_title">Shipping</div>
                                <div class="box_text">Phasellus sit amet nunc eros sed nec tellus.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import {mapActions} from 'vuex'
  export default {
    name: "v-details",
    props: {
      product_data: {
        type: Object,
        default() {
          return {}
        },
      }
    },
    methods: {
      ...mapActions([
        'ADD_TO_CART',
        'ADD_TO_HEART',
      ]),
      addToCart() {
        this.ADD_TO_CART(this.product_data);
      },
      addToHeart() {
        this.ADD_TO_HEART(this.product_data);
      },
    },
  }
</script>
<style scoped>

</style>
