<template>
    <ul>
        <li class="item_filter_btn"
            v-for="option in options"
            :key="option.value"
            @click="selectOption(option)"
        > {{option.name}}
        </li>
    </ul>
</template>

<script>
  export default {
    name: "v-select",
    props: {
    options: {
      type: Array,
      default() {
        return []
      }
    },
      selected: {
        type: String,
        default() {
          return "";
        }
      }
    },
    methods: {
      selectOption(option) {
         this.$emit('selectOption', option);
      },
    }
  }
</script>

<style scoped>

</style>
