<template>
    <div>
        <div>
            <div class="container-login100"
                 :style="{ backgroundImage: 'url(\'' + require('@/assets/bg-01.jpg') + '\')'} ">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
                    <form class="login100-form validate-form" @submit.prevent="login" v-if="show">
            <span class="login100-form-title p-b-37">
                Sign In
            </span>
                        <b-alert
                                variant="danger"
                                dismissible
                                fade
                                :show="error"
                        >
                            Invalid Email or Password
                        </b-alert>
                        <div class="wrap-input100 validate-input m-b-10">
                        </div>
                        <div class="wrap-input100 validate-input m-b-10">
                            <input class="input100"
                                   type="text"
                                   :class="{'is-invalid' : $v.email.$error}"
                                   @input="$v.email.$touch()"
                                   v-model.trim="email"
                                   placeholder="Email"
                            >
                            <div class="invalid-feedback" v-if="!$v.email.required">Email field is required</div>
                            <div class="invalid-feedback" v-if="!$v.email.email">This field should be an email</div>
                            <span class="focus-input100"></span>
                        </div>
                        
                        <div class="wrap-input100 validate-input m-b-10">
                            <input class="input100"
                                   type="password"
                                   v-show="!showPass"
                                   :class="{'is-invalid' : $v.password.$error}"
                                   @input="$v.password.$touch()"
                                   v-model.trim="password"
                                   placeholder="Password"
                            >
                            <input class="input100"
                                   type="text"
                                   v-show="showPass"
                                   :class="{'is-invalid' : $v.password.$error}"
                                   @input="$v.password.$touch()"
                                   v-model.trim="password"
                                   placeholder="Password"
                            >
                            <div class="invalid-feedback" v-if="!$v.email.required">Email field is required</div>
                            <div class="invalid-feedback" v-if="!$v.email.email">This field should be an email</div>
                            <span class="focus-input100"></span>
                        </div>
                        
                        <b-form-checkbox @change="showPass = !showPass"><h6 class="text-dark">Show Password</h6></b-form-checkbox>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn"  :disabled="$v.$invalid">
                                Sign In
                            </button>
                        </div>
                        <div class="text-center p-t-57 p-b-20">
                        </div>
                        <div class="text-center">
                            <router-link
                                    :to="{name: 'register'}">
                                <a class="txt2 hov1">
                                    Sign Up
                                </a>
                            </router-link>
                        </div>
                    </form>
                </div>
            </div>
            
            <div id="dropDownSelect1"></div>
        </div>
    </div>
</template>

<script>
  import { required, email, minLength } from 'vuelidate/lib/validators'
  import {mapActions, mapGetters} from 'vuex'
  export default {
    name: "v-register",
    data() {
      return {
        error: false,
        showPass: false,
        email: '',
        password: '',
        show: true
      }
    },
    validations: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(6)
      },
    },
    computed: {
      ...mapGetters([
        'ERROR',
      ]),
    },
    watch:{
      ERROR() {
        this.error = this.ERROR;
      }
    },
    methods: {
      login() {
        let data = {
          email: this.email,
          password: this.password
        };
        this.LOGIN(data);
      },

      ...mapActions([
        'LOGIN',
      ]),
    },

  }
</script>

<style>

</style>
