<template>
    <div>
        <div>
            <div class="container-login100"
                 :style="{ backgroundImage: 'url(\'' + require('@/assets/bg-01.jpg') + '\')'} ">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
                    <form class="login100-form validate-form" @submit.prevent="register" v-if="show">
            <span class="login100-form-title p-b-37">
                Sign Up
            </span>
                        <b-alert
                                variant="danger"
                                dismissible
                                fade
                                :show="error"
                        >
                            User with email address already exists
                        </b-alert>
                        <div class="wrap-input100 validate-input m-b-10">
                            <input class="input100"
                                        :class="{'is-invalid' : $v.name.$error}"
                                        @input="$v.name.$touch()"
                                        id="input-1"
                                        v-model.trim="name"
                                        type="text"
                                        placeholder="Name"
                            >
                            <div class="invalid-feedback" v-if="!$v.name.required">Name field is required</div>
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-10">
                            <input class="input100"
                                   type="text"
                                   :class="{'is-invalid' : $v.email.$error}"
                                   @input="$v.email.$touch()"
                                   v-model.trim="email"
                                   placeholder="Email"
                            >
                            <div class="invalid-feedback" v-if="!$v.email.required">Email field is required</div>
                            <div class="invalid-feedback" v-if="!$v.email.email">This field should be an email</div>
                            <span class="focus-input100"></span>
                        </div>
                        
                        <div class="wrap-input100 validate-input m-b-10">
                            <input class="input100"
                                   type="password"
                                   v-show="!showPass"
                                   :class="{'is-invalid' : $v.password.$error}"
                                   @input="$v.password.$touch()"
                                   v-model.trim="password"
                                   placeholder="Password"
                            >
                            <input class="input100"
                                   type="text"
                                   v-show="showPass"
                                   :class="{'is-invalid' : $v.password.$error}"
                                   @input="$v.password.$touch()"
                                   v-model.trim="password"
                                   placeholder="Password"
                            >
                            <div class="invalid-feedback" v-if="!$v.password.required">Password field is required</div>
                            <div class="invalid-feedback" v-if="!$v.password.minLength">
                                Min length of password is {{ $v.password.$params.minLength.min }}.Now it is {{ password.length }}.
                            </div>
                            <span class="focus-input100"></span>
                        </div>
                    
                        <div class="wrap-input100 validate-input m-b-10">
                            <input class="input100"
                                   type="password"
                                   name="pass"
                                   :class="{'is-invalid' : $v.confirm.$error}"
                                   @input="$v.confirm.$touch()"
                                   v-model.trim="confirm"
                                   placeholder="Confirm Password"
                            >
                            <div class="invalid-feedback d-flex" v-if="!$v.confirm.sameAs">Password should match</div>
                            <span class="focus-input100"></span>
                        </div>
                        <b-form-checkbox @change="showPass = !showPass"><h6 class="text-dark">Show Password</h6></b-form-checkbox>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" :disabled="$v.$invalid">
                                Sign Up
                            </button>
                        </div>
                        <div class="text-center p-t-57 p-b-20">
                        </div>
                        <div class="text-center">
                            <router-link
                                    :to="{name: 'login'}">
                                <a class="txt2 hov1">
                                    Sign In
                                </a>
                            </router-link>
                        </div>
                    </form>
                </div>
            </div>
        
            <div id="dropDownSelect1"></div>
        </div>
    </div>
 </template>

<script>
  import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'
  import {mapActions, mapGetters} from 'vuex'
  export default {
    name: "v-register",
    data() {
      return {
        error: false,
        showPass: false,
        name: '',
        email: '',
        password: '',
        confirm: '',
        show: true
      }
    },
    validations: {
    name: {
    required,
    },
    email: {
    required,
    email
    },
    password: {
    required,
    minLength: minLength(6)
    },
    confirm: {
    sameAs: sameAs('password')
    }
    },
    computed: {
      ...mapGetters([
        'ERROR',
      ]),
    },
    watch:{
      ERROR() {
        this.error = this.ERROR;
      }
    },
    methods: {
      register() {
        let data = {
          name: this.name,
          email: this.email,
          password: this.password
        };
         this.REGISTER(data);
      },

      ...mapActions([
        'REGISTER',
      ]),
    },
   
  }
</script>

<style scoped>

</style>
