<template>
    <div>
        <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
            <div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto m-0">
                <div><div class="product_number">{{index + 1}}</div></div>
                <div><div class="product_image"><img :src="'http://corona.test/images/'+ wish_list_item.image" alt=""></div></div>
                <div class="product_name_container">
                    <div class="product_name"><a href="product.html">{{ wish_list_item.name}}</a></div>
                    <div class="product_text">Second line for additional info</div>
                </div>
            </div>
             <div class="product_size product_text"><span>Size: </span>beige</div>
            <div class="product_price product_text"><span>Price: </span>L</div>
            <div class="product_quantity_container">
                <div class="product_quantity ml-lg-auto mr-lg-auto text-center">
                    <span class="product_text product_num">$ {{ wish_list_item.price }}</span>
                </div>
            </div>
             <div class="product_total product_text" @click="deleteWishList">Delete</div>
            <div class="product_total product_text" @click="addToCart">Buy</div>
        </li>
    </div>
</template>

<script>
  export default {
    name: "v-wist-list-item",
    created() {
      this.$set(this.wish_list_item, 'quantity', 1)
    },
    
    methods: {
      deleteWishList() {
        this.$emit('deleteWishList')
      },
      addToCart() {
         this.$emit('addToCart', this.wish_list_item)
      },
    },
    props: {
      index: {
        type:Number,
      },
      wish_list_item: {
        type: Object,
        default() {
          return {}
        }
      }
    },
 
  }
</script>

<style scoped>
    img {
        width:100px;
    }
</style>
