<template>
    <div>
        <div class="super_container">
            <div class="super_container_inner">
                <div class="super_overlay"></div>
                
                <!-- Home -->
                
                <div class="home">
                    <div class="home_container d-flex flex-column align-items-center justify-content-end">
                        <div class="home_content text-center">
                            <div class="home_title">Wish List</div>
                            <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                                <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                                    <li><a href="#">Home</a></li>
                                    <li>Your Cart</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Cart -->
                
                <div class="cart_section">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="cart_container">
                                    
                                    <!-- Cart Bar -->
                                    <div class="cart_bar">
                                        <ul class="cart_bar_list item_list d-flex flex-row align-items-center justify-content-end">
                                            <li class="mr-auto">Product</li>
                                            <li>Color</li>
                                            <li>Size</li>
                                            <li>Price</li>
                                            <li>Quantity</li>
                                            <li>Total</li>
                                        </ul>
                                    </div>
                                    <div class="cart_items">
                                        <ul class="cart_items_list">
                                            <li v-if="!wish_list_data.length" class="cart_item item_list"><h4>There are no products in wish list...</h4></li>
                                            <v-wish-list-item
                                                    v-for="(item, index) in wish_list_data"
                                                    :index="index"
                                                    :key="item.id"
                                                    :wish_list_item="item"
                                                    @deleteWishList="deleteWishList(index)"
                                                    @addToCart="addToCart(item,index)"
                                             />
                                        </ul>
                                    </div>
                                    
                                    <div class="cart_buttons d-flex flex-row align-items-start justify-content-start">
                                        <div class="cart_buttons_inner ml-sm-auto d-flex flex-row align-items-start justify-content-start flex-wrap">
                                            <div class="button button_clear trans_200" @click="deleteAllWishList">
                                                <a class="text-white">clear cart</a>
                                            </div>
                                            <div class="button button_continue trans_200">
                                                <router-link
                                                        :to="{name: 'catalog'}">
                                                    <a >continue shopping</a>
                                                </router-link>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

  import vWishListItem from './v-wish-list-item'
  import {mapActions} from 'vuex'
  export default {
    name: "v-wish-list",
    components: {
      vWishListItem
    },
    methods: {
        deleteWishList(index) {
          this.DELETE_FROM_WISH_LIST(index);
        },
      addToCart(data,index) {
         this.ADD_TO_CART_FROM_WISH_LIST(data,index);
      },
      
      ...mapActions([
        'DELETE_FROM_WISH_LIST',
        'ADD_TO_CART_FROM_WISH_LIST',
        'DELETE_ALL_WISH_LIST'
      ]),
      deleteAllWishList() {
        this.DELETE_ALL_WISH_LIST()
      },
    },
    props: {
      wish_list_data: {
        type: Array,
        default() {
          return [];
        }
      },
    },
  }
</script>
<style scoped>
</style>
