<template>
<div>
    <header class="header">
        <div class="header_overlay"></div>
        <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <div class="logo">
                <a href="#">
                    <div class="d-flex flex-row align-items-center justify-content-start">
                        <div><img :src="require('../../assets/images/logo_1.png')" alt=""></div>
                        <div><router-link :to="{name: 'catalog'}"><h3 class="m-0 text-dark">Little Closet</h3></router-link></div>
                    </div>
                </a>
            </div>
            <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
                <!-- Search -->
                <div class="header_search">
                    <form action="#" id="header_search_form">
                        <input type="text"
                               class="search_input"
                               placeholder="Search Item"
                               required="required"
                               v-model="searchValue"
                               @input="search(searchValue)"
                        >
                        <button
                                class="header_search_button"
                                @click="search(searchValue)"
                        >
                            <img :src="require('../../assets/images/search.png')" alt=""></button>
                    </form>
                </div>
                <!-- User -->
                <div class="user">
                    <router-link
                        :to="{name: 'cart',
                        params: {cart_data: CART}}"
                        >
                        <div>
                            <img :src="require('../../assets/images/cart.svg')" alt="https://www.flaticon.com/authors/freepik">
                            <div>{{CART.length}}</div>
                        </div>
                    </router-link>
                </div>
                <div class="user">
                    <router-link
                            :to="{name: 'heart',
                         params:{wish_list_data:HEART}
                         }"
                    >
                        <div>
                            <img :src="require('../../assets/images/heart_2.svg')" alt="https://www.flaticon.com/authors/freepik">
                            <div>{{HEART.length}}</div>
                        </div>
                    </router-link>
                </div>
                <!--Add-->
                <div class="user">
                    <router-link
                            :to="{name: 'create',
                            }">
                        <div>
                            <img :src="require('../../assets/images/add.png')" alt="https://www.flaticon.com/authors/freepik">
                        </div>
                    </router-link>
                </div>
                 <div class="header_phone d-flex flex-row align-items-center justify-content-start">
                    <div @click="logout"><a href="#"><h4 class="text-dark m-0">Logout</h4></a></div>
                </div>
            </div>
            
         </div>
     </header>
</div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'
  export default {
    name: "v-header",
    methods: {
        logout() {
          this.LOGOUT()
        },
      
      search(value) {
      this.GET_SEARCH_VALUE_TO_VUEX(value);
        if(this.$route.path !=='/catalog') {
          this.$router.push('/catalog')
        }
      },
      ...mapGetters([
        'SEARCH_VALUE',
      ]),
      ...mapActions([
        'GET_SEARCH_VALUE_TO_VUEX',
        'LOGOUT'
       ])
    },
    data() {
      return {
        searchValue: "",
      }
    },
    computed: {
      ...mapGetters([
        'CART',
        'HEART',
       ]),
     },
  }
</script>

<style scoped>
</style>
