<template>
    <div>
         <v-catalog />
    </div>
</template>
<script>
    import vCatalog from './catalog/v-catalog'
     export default {
        name: 'v-main-wrapper',
       components: {
        vCatalog,
           },
        props: {},
        watch: {},
        
 }
</script>
<style scoped>
</style>
