<template>
  <div id="app">
    <div>
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
        <v-header v-if="show"/>
        <v-footer v-if="show"/>

    </div>
  </div>
</template>

<script>
  import vHeader from '../src/components/layout/v-header'
  import vFooter from '../src/components/layout/v-footer'

export default {
  name: 'App',
  data() {
    return {
      show: localStorage.getItem('token') !== null
    }
  },
  components: {
    vHeader,
    vFooter
    },
}
</script>

<style>

</style>
